# Wine.com Data
WineRecommender/data/*.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.txt
*.tsv
*.pkl

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
